<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body class="is-preload">

        <!-- Banner -->
        <section id="banner">
            <header>
                <h2>Welkom bij Speelplein Wuustwezel!</h2>
                <a asp-area="" asp-controller="Home" asp-action="About" class="button">Meer info</a>
            </header>
        </section>

        <!-- Texts -->
        <section class="wrapper style1">
            <div class="container">
                <div class="row gtr-200">
                    <section class="col-3 col-12-narrower">
                        <div class="box highlight">
                            <h3>Titel1</h3>
                            <p>Tekst1</p>
                        </div>
                    </section>
                    <section class="col-3 col-12-narrower">
                        <div class="box highlight">
                            <h3>Titel2</h3>
                            <p>Tekst2</p>
                        </div>
                    </section>
                    <section class="col-3 col-12-narrower">
                        <div class="box highlight">
                            <h3>Titel3</h3>
                            <p>Tekst3</p>
                        </div>
                    </section>
                    <section class="col-3 col-12-narrower">
                        <div class="box highlight">
                            <h3>Titel4</h3>
                            <p>Tekst4</p>
                        </div>
                    </section>
                </div>
            </div>
        </section>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>

</body>
</html>